<div class="footer">
  <div class="container">
    <p class="muted pull-right">
      version: {{config.CURRENT_VERSION_NAME}} | {{config.CURRENT_VERSION_DATE}}
      # if current_user.admin
        | <a href="/_s/{{request.url.replace(request.host_url, '')}}" target="_blank">View in JSON</a>
      # endif
    </p>
    <p class="muted">&copy; 2013 - {{config.CONFIG_DB.brand_name}}</p>
    <div class="social-media">
      <a href="https://www.facebook.com/pages/Khan-Academie/123650984422563"><img src="p/WDD_Buddycon_Icons/PNG/circular/facebook_32.png"></a>
      <a href="https://twitter.com/KhanAcademie"><img src="p/WDD_Buddycon_Icons/PNG/circular/twitter_32.png"></a>
      <a href="http://www.youtube.com/PerceptumNL"><img src="p/WDD_Buddycon_Icons/PNG/circular/youtube_32.png"></a>
      <a href="http://www.linkedin.com/groups/Perceptum-4916670"><img src="p/WDD_Buddycon_Icons/PNG/circular/linkedin_32.png"></a>
      <a href="http://www.perceptum.nl/"><img src="p/WDD_Buddycon_Icons/PNG/circular/wordpress_32.png"></a>
    </div>
  </div>
</div>
